* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body,html {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
}

.main_body {
    width: 300px;
    height: 350px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.main_body img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    padding: 5px;
}

.main_body h1 {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    font-style: popping;
}

.main_body h5 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
    color: red;
}

.main_body button {
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 20px;
    background-color: cadetblue;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

#remove {
    background-color: #dadada;
    color: black;
    margin-right: 10px;
}