body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

option {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    width: 6rem;
    height: 4rem;
    background-color: blue;
    max-width: 100%;
}